{% extends "base.html" %}

{% block content %}

    <form method='post'>
        <label>
            Title for your new blog:
            {% if blog_title|length != 0 %}
                <input type="text" name='title' value="{{blog_title}}"/>
            {% else %}
                <input type="text" name='title'/>
            {% endif %}
        </label>
        <label>
            Your new blog:
            {% if blog_entry|length != 0 %}
                <textarea name='entry' value="{{blog_entry}}"></textarea>
            {% else %}
                <textarea name='entry'></textarea>
            {% endif %}
        </label>        
        <input type="submit" value='Add Entry' />
    </form>

{% endblock %}